#divHaut{
    background-image: url('tennis-balls-header.jpg');
    background-repeat:no-repeat;
    background-size: 100% 200%;
    height: 180px;
    /*padding: 20px;*/
    /*margin: 1%;*/
    /*border: 2px solid black;
    border-radius:7px;*/
}

#carousel-news{
    width: 100%;
    margin-bottom: 10px;
}

#navbar{
    background-color: rgb(255, 153, 0);
    color: black;
}

.onglet{
    color: black;
}

#nomSite{
    padding-left: 10%;
    margin: auto 0px;
}
.image-car{
    margin: auto;
}

#titre{
    text-align: center;
    background-color: rgba(255,255,255,0.7) ;
    color: black;
    padding:5px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: 2px solid black;
}


#test{
    padding: 50px;
    text-align: center;
}

#prem{
    padding: 200px;
    text-align: center;
}
